:root {
  --clr-primary-magenta: hsl(300, 43%, 22%);
  --clr-primary-pink: hsl(333, 80%, 67%);

  --clr-neutral-dark-magenta: hsl(303, 10%, 53%);
  --clr-neutral-light-magenta: hsl(300, 24%, 96%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  --fs-primary: 0.9375rem;

  --ff-primary: "Spartan", sans-serif;
}
